In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd
import datetime as dt
import requests

In [18]:
dt.datetime.now()
browser = Browser("chrome", executable_path="chromedriver", headless=True)

In [17]:
def scrape_all():

    # Initiate headless driver for deployment
    browser = Browser("chrome", executable_path="chromedriver", headless=True)
    news_title, news_paragraph = mars_news(browser)
    print(news_title)
    print(news_paragraph)
    twitter_weather(browser)

    # Stop webdriver and return data
    browser.quit()
    # return data
scrape_all()

NASA Seeking Partner in Contest to Name Next Mars Rover

This artist's rendition depicts NASA's Mars 2020 rover studying its surroundings. Mars 2020 is targeted for launch in July or August 2020 from the Cape Canaveral Air Force Station in Florida. Image Credit: NASA/JPL-Caltech
Full image and caption

In [2]:
def mars_news(browser):
    url = 'https://mars.nasa.gov/news/8369/nasa-seeking-partner-in-contest-to-name-next-mars-rover/'
    response = requests.get(url)
    soup = bs(response.text, 'html.parser')
    title=soup.find('h1', class_="article_title").text
    paragraph=soup.find('p').text
    return title, paragraph


    # return news_title, news_p

In [19]:
def featured_image(browser):
    # Find and click the full image button
#     try:
    url="https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
    nasaurl="https://www.jpl.nasa.gov"
    response = requests.get(url)
    soup = bs(response.text, 'html.parser')
    image=soup.find('a', class_="button fancybox")
    image=image.get("data-link")
    image
#     except AttributeError:
#         pass
    # Use the base url to create an absolute url
   # get the image page
    imgurl=nasaurl+str(image)
    imgurl
    imgresponse=requests.get(imgurl)
    soup = bs(imgresponse.text, 'html.parser')
    mainimg=soup.find('img', class_="main_image").get("src")
    mainimg=nasaurl+str(mainimg)
    mainimg   
    # return img_url
    return mainimg
featured_image(browser)

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA14579_hires.jpg'

In [20]:
def hemispheres(browser):


    browser.visit(url)

    # Click the link, find the sample anchor, return the href
   
        # Finally, we navigate backwards
    browser.back()

    # return hemisphere_image_urls

In [21]:
def twitter_weather(browser):
    # class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text"
    # return mars_weather
    tiwtterurl="https://twitter.com/marswxreport?lang=en"
    response = requests.get(tiwtterurl)
    soup = bs(response.text, 'html.parser')
    weather=soup.find('p', class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
    return weather
twitter_weather(browser)

'Astronomical autumn begins with the September equinox at 9:54 ET tonight https://www.wral.com/autumn-s-arrival-celebrated-differently-at-different-times-around-the-world/17864537/\xa0…pic.twitter.com/cUArBS7WFV'

In [ ]:
def scrape_hemisphere(html_text):

    # Soupify the html text
    
    # Try to get href and text except if error.
    try:
        pass

    except AttributeError:
        pass


    # return hemisphere

In [43]:
url = 'https://space-facts.com/mars/'
facthtml=pd.read_html(url)
fact = facthtml[0]
# print(facthtml)
fact.columns=["Describtion ","value"]
fact.head()
# fact_table=fact.to_html
html_table = fact.to_html()
html_table.replace('\n', '')
print(html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Describtion</th>
      <th>value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.42 x 10^23 kg (10.7% Earth)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.52 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-153 to 20 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [44]:
def mars_facts():
    
    url = 'https://space-facts.com/mars/'
    facthtml=pd.read_html(url)
    fact = facthtml[0]
    fact.columns=["Describtion ","value"]
    fact.head()
    html_table = fact.to_html()
    html_table.replace('\n', '')
    return html_table

#     try:
#         pass
#     except BaseException:
#         pass
       
    # Add some bootstrap styling to <table>
    # return df
mars_facts()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Describtion</th>\n      <th>value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [ ]:
if __name__ == "__main__":

    # If running as script, print scraped data
    print(scrape_all())