In [37]:
import pandas as pd
import csv
import matplotlib as plt

In [38]:
boston=pd.read_csv("../Resources/boston/tomslee_airbnb_boston_1429_2017-07-10.csv")
boston.head(1)

,room_id,survey_id,host_id,room_type,country,city,borough,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,bathrooms,price,minstay,name,last_modified,latitude,longitude,location
0,10567830,1429,1651480,Shared room,NaN,Boston,NaN,South End,0,0.0,1,1.0,NaN,500.0,NaN,zParkingSpaceForConfirmedGuestsOnly,2017-07-10 18:46:02.569830,42.341763,-71.075397,0101000020E6100000DB4DF04DD3C451C0CEFDD5E3BE2B...

In [40]:
clean=boston.dropna(axis="columns", how="any")
clean=clean.dropna(axis="rows", how="any")
clean=clean.drop(columns=["room_id","survey_id","host_id","last_modified"])
clean.head(2)
clean.describe()
clean.to_csv("../Resources/boston/Boston_cleandata.csv")